#banner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 15.62rem;
}

.banner__container {
  border: 2px solid green;
  width: var(--container-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2.75rem;
  margin-inline: 1.875rem;
}

.banner__title {
  color: var(--gray-color-6);
  font-size: var(--title-1-font-size);
  font-weight: var(--title-weight);
}

.banner__span {
  color: var(--brand-color-1);
}

.banner__paragraph{
    color: var(--gray-color-4);
    text-align: center;
    line-height: 1.875rem;
    font-size: var(--text-1-font-size);
}

.banner__button{
    background-color: var(--brand-color-1);
    color: var(--gray-color-7);
    font-size: var(--button-font-size);
    font-weight: var(--button-weight);
    border-style: none;
    padding: 1.25rem 2rem;
}

.banner__button:hover{
    background-color: var(--brand-color-2);
}