@import url("/src/styles/reset.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");


:root {
  --brand-color-1: #4c6ef5;
  --brand-color-2: #364fc7;

  --gray-color-1: #191c1f;
  --gray-color-2: #212529;
  --gray-color-3: #343a40;
  --gray-color-4: #adb5bd;
  --gray-color-5: #ced4da;
  --gray-color-6: #edf2ff;
  --gray-color-7: #f8f9fa;

  --input-focus-outline: 0.0625rem solid #9747ff;

  --title-1-font-size: clamp(3rem, 2.821rem + 0.476vw, 3.25rem);
  --title-2-font-size: clamp(1.625rem, 2.071rem + 0.476vw, 2.5rem);
  --title-3-font-size: clamp(1.25rem, 1.571rem + 0.476vw, 2rem);
  --button-font-size: clamp(0.75rem, 0.571rem + 0.476vw, 1rem);
  --text-1-font-size: clamp(1rem, 0.821rem + 0.476vw, 1.25rem);
  --text-2-font-size: clamp(0.875rem, 0.696rem + 0.476vw, 1.125rem);
  --text-3-font-size: clamp(0.75rem, 0.571rem + 0.476vw, 1rem);

  --title-weight: 600;
  --text-1-to-3-weight: 400;
  --text-4-weight: 600;
  --button-weight: 600;

  --container-width: clamp(26.563rem, -10.536rem + 98.929vw, 78.5rem);
  --container-padding: 5.125rem;
  --container-gap: 3.5rem;
  --container-margin-inline: 1.875rem;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--gray-color-2);
  margin: 0;
}

button {
  font-family: inherit;
}

button:hover {
  cursor: pointer;
}

@media (max-width: 1024px) {
  .header__container,
  .banner__container,
  .about__container,
  .faq__container,
  .comments__container {
    max-width: 100% !important;
  }

  .comment-list__comment {
    flex-direction: column;
  }

  .comment__comment-top {
    width: 100% !important;
    display: flex;
    align-items: center;
    gap: 1.25rem;
  }

  .comment__paragraph {
    width: 100% !important;
  }

  .comments__right-side {
    padding-left: 0 !important;
  }

  .comments__right-side-title{
    font-size: 1.875rem !important;
  }

  .comments__right-side-container {
    margin-inline: 0 !important;
    height: 20%;
  }
}

@media (max-width: 768px) {
  .about__container {
    flex-direction: column;
  }

  .about__title {
    width: 100% !important;
    text-align: center;
  }

  .about__paragraph {
    width: 100% !important;
  }

  .faq__container {
    flex-direction: column;
  }

  .faq__left-side {
    width: 100% !important;
    text-align: center !important;
  }

  .faq__left-side-container {
    width: 100% !important;
  }

  #faq__join-class-button {
    width: 100% !important;
  }

  .faq__list {
    width: 100% !important;
  }

  .comments__container {
    flex-direction: column !important;
  }

  .comments__right-side {
    width: 100% !important;
    padding: 0 !important;
  }

  .comments__right-side-container {
    width: 85% !important;
    position: static !important;
  }

  .comments__comment-list {
    width: 100% !important;
  }

  .comment-list__comment {
    width: 100% !important;
  }
}

@media (max-width: 425px) {
  #header__join-class-button {
    display: none;
  }

  #banner {
    padding-block: 9.375rem 6.25rem !important;
  }

  .banner__title {
    line-height: 3.4375rem !important;
    font-size: 2.5rem !important;
  }

  .about__title {
    font-size: 2rem !important;
  }

  .faq__left-side-title {
    font-size: 2rem !important;
  }

  #faq {
    padding-bottom: 2.5625rem !important;
  }

  .faq__container {
    margin-inline: 0.9375rem !important;
  }

  .question__title {
    max-width: 100%;
    text-align: center;
    font-size: 22px !important;
  }

  .comments__comment-list {
    gap: 1.875rem !important;
  }

  .comments__container {
    margin-inline: 0.9375rem !important;
  }

  .comments__right-side-container {
    width: 73% !important;
  }

  .comments__right-side-title {
    font-size: 1.625rem !important;
    line-height: 2.5rem !important;
  }

  .comment-top__title {
    font-size: 1.25rem !important;
  }

  #modal {
    width: 22.1875rem !important;
  }
}